.nrx-button {
  @apply font-bold border-2 border-transparent transition duration-100;
}
.nrx-button--primary {
  @apply text-white bg-nrxRed;
}
.nrx-button--primary:hover {
  @apply text-nrxRed bg-transparent border-nrxRed;
}
.nrx-button--secondary {
  @apply text-nrxRed bg-transparent border-nrxRed;
}
.nrx-button--secondary:hover {
  @apply text-white bg-nrxRed border-transparent;
}
.nrx-button--tertiary {
  @apply text-nrxRed bg-transparent;
}
.nrx-button--tertiary:hover {
  @apply border-nrxRed;
}
.nrx-button--danger {
  @apply text-black bg-orange-500;
}
.nrx-button--danger:hover {
  @apply text-orange-500 bg-transparent border-orange-500;
}
.nrx-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.nrx-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.nrx-button:disabled {
  @apply opacity-30 pointer-events-none;
}
